<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
 	<img src="/img/submarine.jpeg">
</div>
<div class="container title">


 <% if @notlog%>
      <p class= "fail"> **Necesitas hacer log in para entrar.**</p>
 <%end%>

 <form action =/signup method="get" font.size=10> 
    <input type = "submit" value = "Singn Up" />
 </form>


<form action =/signin method="get" font.size=10> 
    <input type = "submit" value = "Singn In" />
 </form>

<form action =/scoree method="get" font.size=10> 
    <input type = "submit" value = "Score" />
 </form>

</div>


  
